*{
    box-sizing: border-box;
}
body{
    background-color: rgba(72,163,0,0.07);
    font-family:Poppins;
    margin: 0;
}
main{
    padding:0 16px 32px;
}
.title{
    font-size: 64px;
    color:#48A300;
    text-align: center;
}
.title span{
    color:#61481C;
}
.app-container{
    background-color: #fbfbfb;
    max-width: 660px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 10px 5px rgba(0, 163, 0, 0.2);
}
.sun-icon{
    vertical-align: middle;
    margin-left: 16px;
}
.progress-label{
    font-size: 14px;
    color:rgba(133, 133, 133, 1);
    margin-bottom: 20px;
}
.progress-bar{
    height: 30px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 42px;
}
.progress-value{
    height: 100%;
    width: 0%;
    background-color: rgba(72, 163, 0, 1);
    border-radius: 15px;
    font-weight:500;
    font-size: 10px;
    color: #EEFFE0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width .5s ease-in-out;
}
.progress-value span{
    padding-left: 20px;
    min-width:max-content;
}
.error-label{
    color:#FF5151;
    font-size: 12px;
    margin-top: 8px;
    position: absolute;
}
.goal-container{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 17px;
    display: flex;
    align-items: center;
    height: 82px;
    padding: 0 22px;
    background-color: #ffffff;
    margin-bottom: 42px;
}
.check-icon{
    display: none;
}
.completed .check-icon{
    display: block;
}
.custom-checkbox{
    width: 24px;
    height: 24px;
    border:2px solid rgba(97,72,28,0.3);
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
}
.goal-input{
    /* border: none; */
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    align-self: stretch;
    font-weight: 500;
}
.goal-input::placeholder{
    color: #D9D9D9;
}
.quote{
    font-weight: 500;
    text-align: center;
}
.made-with{
    margin-top: 64px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: #858585;
}
.completed .custom-checkbox{
    background-color: #48A300;
    border-color: #48A300;
    /* background-image: url('./tick.svg');
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.completed .goal-input{
    text-decoration: line-through;
    color: #48A300;
}
.show-error .error-label{
    display: block;
}
.error-label{
    display: none;
}
.onebythree .progress-bar{
    width: 33.33%;
}
.twobythree .progress-bar{
    width: 66.66%;
}
.full .progress-bar{
    width: 100%;
}
@media (max-width:768px){
    .title{
        font-size: 32px;
    }
    .app-container{
        padding: 16px 32px;
    }
    .goal-container{
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
    }
    .custom-checkbox{
        height: 20px;
        width: 20px;
    }
    .made-with{
        margin-top: 32px;
    }
    .progress-bar{
        height: 24px;
    }

}